body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2b2b2b;
  color: rgb(214, 214, 214);
  max-width: 900px;
  margin: 0 auto;
}

#root {
  background-color: #3f3f3f;
  padding: 60px;
  border-radius: 20px;
  height: 100%;
  margin-top: 100px;
}

.logo {
  display: block;
  margin: 0 auto;
}

h1 {
  margin-top: 50px;
}

p {
  font-size: 22px;
}

div.Table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.divTable.Table .divTableCell, .divTable.Table .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.divTable.Table .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.Table .divTableRow:nth-child(even) {
  background: #ECECEC;
}
.divTable.Table .divTableHeading {
    border-bottom: 2px solid #444444;
}
.divTable.Table .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
}
.Table .tableFootStyle {
  font-size: 14px;
  font-weight: bold;
  border-top: 2px solid #444444;
}
.Table .tableFootStyle {
  font-size: 14px;
}
.Table .tableFootStyle .links {
	 text-align: right;
}
.Table .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.Table.outerTableFooter {
  border-top: none;
}
.Table.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}