.price-display {
  font-size: small;
  position: absolute;
  top: 1em;
  right: 1em;
}

.position-evaluation{
  text-align: center;;
}

h1{
  font-size: 10em;
}

.good-evaluation{
  color: green;
}

.bad-evaluation{
  color: red;
}

.shill-message {
  font-size: x-small;
}